<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fishing the Wallkill In Middletown</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navmenu" href="in20px;tml"> Home </a>
      <a class="navmenu" href="bp1.html"> Blog post 1 </a>
      <a class="navmenu" href="bp2.html"> Blog post 2 </a>
      <a class="navmenu" href="bp3.html"> Blog post 3 </a>
      <a class="navmenu" href="bp4.html"> Blog post 4 </a>
      <a class="navmenu" href="AboutUs.html"> About Us </a>
    </nav>
    <div class="title">
      <h1>title</h1>
    </div>

    <div class="subtitle">
      <h3>subtit1</h3>
    </div>
    <div class="artpic">
      <div class="articles">
        <p>
          <!-- content -->
        </p>

        <p>
          <!-- content -->
        </p>

        <p>
          <!-- content -->
        </p>
      </div>

      <img class="fishpics" src=""" height="600px">
    </div>
    <div class="subtitle">
      <h3>subtit2</h3>
    </div>
    <div class="artpic">
      <div class="articles">
        <p>
          <!-- content -->
        </p>
        <p>
          <!-- content -->
        </p>
        <p>
          <!-- content -->
        </p>
      </div>
      <img
        class="fishpics"
        src=""
        height="500px"
        alt="a small mouth bass from 2018"
      />
    </div>
    <div class="subtitle">
      <h3>subtit3</h3>
    </div>
    <div class="artpic">
      <p>
        <!-- content -->
      </p>

      <img
        class="fishpics"
        src=""
        height="500px"
        alt=" a picture of the bridge at the fishing spot"
      />
    </div>
    <p>notes from aurthor and date written</p>
  </body>
</html>
